{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Professor</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <h1>Área do Professor</h1>
      <hr>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert alert-purple">
                  <ul class=flashes>
                      {% for message in messages %}
                          <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}
      {% endwith %}
      <p>Olá {{ current_user.apelido }}, clique <a href="minhasAulas" class="ftLink">aqui</a> para acessar suas aulas, ou crie uma aula no formulário abaixo.</p>
      <br>
      <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-row bootstrap-iso">
            <!-----  CAMPO INSTITUIÇÃO - SALA  ----->
          <div class="col-md-4 mb-2">
            <label for="validationServer01">Instituição - Sala</label>
            {% if form.errors.sala %}
            {{ form.sala(class="form-control is-invalid", id="sala", type="text", placeholder="Sala") }}
            <div class="invalid-feedback">
              Este campo é obrigatório!
            </div>
            {% else %}
            {{ form.sala(class="form-control", id="sala", type="text", placeholder="Sala") }}
            {% endif %}
          </div>
            <!-----  CAMPO NIVEL  ----->
          <div class="col-md-2 mb-2">
            <label for="validationServer01">Nível</label>
            {% if form.errors.nivel %}
            {{ form.nivel(class="form-control is-invalid", id="nivel", type="text", placeholder="Nível") }}
            <div class="invalid-feedback">
              Este campo é obrigatório!
            </div>
            {% else %}
            {{ form.nivel(class="form-control", id="nivel", type="text", placeholder="Nível") }}
            {% endif %}
          </div>
           <!-----  CAMPO HORARIO  ----->
          <div class="col-md-2 mb-2">
              <label for="validationServer01">Horário</label>
              {% if form.errors.horario %}
                  {{ form.horario(class="form-control is-invalid", id="horario", type="text", placeholder="Horário") }}
                  <div class="invalid-feedback">
                      Este campo é obrigatório!
                  </div>
              {% else %}
                  {{ form.horario(class="form-control", id="horario", type="text", placeholder="Horário") }}
              {% endif %}
          </div>
          <!-----  CAMPO DATA ----->
          <div class="col-md-4 mb-2">
            <label for="validationServer01">Data</label>
            {% if form.errors.data %}
            {{ form.data(class="form-control is-invalid", id="date", type="text", placeholder="dd/mm/aaaa",  maxlength="10", OnKeyPress="formatar('##/##/####', this)") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.data(class="form-control", id="date", type="text", placeholder="dd/mm/aaaa",  maxlength="10", OnKeyPress="formatar('##/##/####', this)") }}
            {% endif %}
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md mb">
          </div>
          <div class="col-md mb">
            {{ form.profSubmit(type="submit", id="enviar", class="btn", value="Criar Aula") }}
          </div>
          <div class="col-md mb">
          </div>
        </div>
      </form><br>
    {% endblock %}
  </body>
</html>
