{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Professor</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container" id="logmain">
      <h1>Área do Professor</h1>
      <hr>
      <form>
        {{ form.csrf_token }}
        <div class="form-row">
          <div class="col-md-5 mb-2">
            <label for="validationServer01">Data</label>
            {% if form.errors.data %}
            {{ form.data(class="form-control is-invalid", id="date", type="text", placeholder="dd/mm/aaaa",  maxlength="10", OnKeyPress="formatar('##/##/####', this)") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.data(class="form-control", id="date", type="text", placeholder="dd/mm/aaaa",  maxlength="10", OnKeyPress="formatar('##/##/####', this)") }}
            {% endif %}
          </div>
          <div class="col-md-7 mb-2">
            <label for="validationServer01">Sala</label>
            {% if form.errors.sala %}
            {{ form.sala(class="form-control is-invalid", id="sala", type="text", placeholder="Sala") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.sala(class="form-control", id="sala", type="text", placeholder="Sala") }}
            {% endif %}
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md mb">
          </div>
          <div class="col-md mb">
            {{ form.profSubmit(type="submit", id="enviar", class="btn", value="Abrir Aula") }}
          </div>
          <div class="col-md mb">
          </div>
        </div>
      </form><br><hr>
      <h2>Alunos Presentes</h2>
      <div class="container">
        {% if dados[0] %}
        <ol>
            {% for aluno in dados %}
            <li>
                {{ aluno.nome }}
            </li>
            {% endfor %}
        </ol>
      {% else %}
            <p>NAO TEM NINGUEM AINDA</p>
      {% endif %}

      </div>
    </div>
    {% endblock %}
  </body>
</html>
