{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta>
    {% block head %}
    <title>Presença UberHub</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container" id="logmain">
      <form class="needs-validation" method="POST">
        <h1>Presença</h1>
        <hr>
        {{ form.csrf_token }}
        <div class="form-row bootstrap-iso">
          <div class="col-md-5 mb-2">
            <label for="cpf">CPF</label>
            {% if form.errors.cpf %}
            {{ form.cpf(class="form-control is-invalid", id="cpf", placeholder="___.___.___-__",  maxlength="14", OnKeyPress="formatar('###.###.###-##', this)") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.cpf(class="form-control", id="cpf", placeholder="___.___.___-__", maxlength="14", OnKeyPress="formatar('###.###.###-##', this)") }}
            {% endif %}
          </div>
          <div class="col-md-7 mb-2">
            <label for="validationServer01">Professor</label>
            {% if form.errors.prof %}
            {{ form.prof(class="form-control is-invalid", id="prof", placeholder="Nome do Prof.") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.prof(class="form-control", id="prof", placeholder="Nome do Prof.") }}
            {% endif %}
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md mb">
          </div>
          <div class="col-md mb">
            <button type="submit" id="enviar" class="btn">Enviar</button>
          </div>
          <div class="col-md mb">
          </div>
        </div>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
