{% extends 'base.html' %}
{% block head %}
  <title>Materiais Disponíveis</title>
{% endblock %}
{% block body %}
  <h1>Materiais disponíveis</h1>
  <span class="thin">**Clique <a href="index" class="ftLink">aqui</a> retornar à página do aluno.</span>
  <hr>
  <span>Iniciante:</span>
  <ul class="">
          <li><a target="_blank" href="https://drive.google.com/file/d/1L_06zC_ZDoNqNAUrabi1-xR1kDnbRISk/view?usp=sharing" class="ftLink">Variaveis</a></li>
          <li><a target="_blank" href="https://drive.google.com/file/d/1HUBj03_PH5VYkv_xnKOXHEf1VOBOKubH/view?usp=sharing" class="ftLink">Seleção: If e Else</a></li>
          <li><a target="_blank" href="https://drive.google.com/file/d/1R8MalOyThizsX1n3J8lUUS1bmlYkSZcC/view?usp=sharing" class="ftLink">Laços de Repetição: For e While</a></li>
          <li><a target="_blank" href="https://drive.google.com/file/d/1BnkLeqUCgaEi_jttI7qdlFBQ-x81hjfX/view?usp=sharing" class="ftLink">Estrutura de dados: Vetor e Matriz</a></li>
  </ul>
{% endblock %}
