{% extends 'base.html' %}
{% block head %}
  <title>Minhas Aulas</title>
{% endblock %}
{% block body %}
<h1>Aulas do {{current_user.apelido}}</h1>
<hr>
<p>Olá {{ current_user.apelido }}, clique <a href="prof" class="ftLink">aqui</a> para criar uma nova aula.</p>
<br>
<div class="row container">
  {% for aula in aulas %}
    <div class="col-sm-3" style="margin-bottom: 10px;">
      {% if aula.ativa %}
      <div class="card border-success">
      {% else %}
      <div class="card border-danger">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ aula.sala }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ aula.nivel }} {{ aula.dia }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">
                {% if aula.ciclo %}
                    {{ ciclos[ ((aula.ciclo) - 1) ].nome }}
                {% else %}
                    Ciclo indefinido
                {% endif %}
            </h6>
          <p class="card-text" style="margin-bottom:2px;">Turno: {{ aula.horario }}</p>
          {% if aula.ativa %}
          <p class="card-text" style="martgin-top:0px;">Aula Aberta</p>
          <a href="{{ url_for('lista', id_aula=aula.id) }}" class="card-link text-success">Ver Aula</a>
          {% else %}
          <p class="card-text" style="martgin-top:0px;">Aula Fechada</p>
          <a href="{{ url_for('lista', id_aula=aula.id) }}" class="card-link text-danger">Ver Aula</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
