{% extends 'base.html' %}
{% block head %}
  <title>Minhas Aulas</title>
{% endblock %}
{% block body %}
<h1>Aulas do {{current_user.apelido}}</h1>
<hr>
<div class="row container">
  {% for aula in aulas %}
    <div class="col-sm-3" style="margin-bottom: 10px;">
      {% if aula.ativa %}
      <div class="card border-success">
      {% else %}
      <div class="card border-danger">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ aula.nivel }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ aula.dia }}</h6>
          <p class="card-text" style="margin-bottom:2px;">Turno: {{ aula.horario }}</p>
          {% if aula.ativa %}
          <p class="card-text" style="martgin-top:0px;">Aula Aberta</p>
          {% else %}
          <p class="card-text" style="martgin-top:0px;">Aula Fechada</p>
          {% endif %}
          <a href="{{ url_for('lista', id_aula=aula.id) }}" class="card-link ftLink">Ver Aula</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
