{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Login</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
        <form action="" method="POST">
        <h1>Fazer Login</h1>
        <hr>
        {{ form.csrf_token }}
        <div class="form-row bootstrap-iso">
          <div class="col-md-6 mb-2">
            <label for="cpf">Usuário</label>
            {% if form.errors.user %}
            {{ form.user(class="form-control is-invalid", id="user", placeholder="Usuário") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.user(class="form-control", id="user", placeholder="Usuário") }}
            {% endif %}
          </div>
          <div class="col-md-6 mb-2">
            <label for="validationServer01">Senha</label>
            {% if form.errors.psswd %}
            {{ form.psswd(class="form-control is-invalid", id="psswd", placeholder="Senha") }}
            <div class="invalid-feedback">
              Este campo é obrigatorio!
            </div>
            {% else %}
            {{ form.psswd(class="form-control", id="psswd", placeholder="Senha") }}
            {% endif %}
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md mb">
            </div>
            <div class="col-md mb">
                <!--<button type="submit" id="enviar" class="btn">Enviar</button>-->
                {{ form.profLogSubmit(type="submit", id="enviar", class="btn", value="Enviar") }}
            </div>
            <div class="col-md mb">
            </div>
          </div>
        </form>
    {% endblock %}
  </body>
</html>
