{% extends 'base.html' %}
{% block head %}
<title>Sobre o Uberhub</title>
{% endblock %}
{% block body %}
  <h1>Conheça a equipe</h1>
  <hr>
  <p><spam class="big">Alana</spam> bla bla bla.</p>
  <p><spam class="big">Aryanne Araujo</spam> (Arya) bla bla bla.</p>
  <p><spam class="big">Augusto Moraes</spam> (Gustim) bla bla bla.</p>
  <p><spam class="big">Guilherme Taffelli</spam> (Ta feliz) bla bla bla.</p>
  <p><spam class="big">Luiz Claudio</spam> bla bla bla.</p>
  <p><spam class="big">Marcos</spam> (Marquinhos) bla bla bla.</p>
  <p><spam class="big">Pedro Diogo</spam> (Pediogo) bla bla bla.</p>
  <p><spam class="big">Sofhia de Souza</spam> (Sof) bla bla bla.</p>
  <p><spam class="big">Thassio Zaruz</spam> bla bla bla.</p>
  <p><spam class="big">Walber</spam> bla bla bla.</p>

{% endblock %}
