{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Lista da Sala X</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>Lista da Sala x</h1>
    <!--
    {% if dados[0] %}
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">CPF</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in dados %}
        <tr>
          <th scope="row">{{ aluno.id }}</th>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.cpf }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-purple" role="alert">
      Parece que não tem nada aqui
    </div>
    {% endif %}
    -->


    {% for dado in dados %}
        <p>aula: {{ dado.id_aula }}, aluno: {{ dado.id_aluno }}</p>
    {% endfor %}
    {% endblock %}
  </body>
</html>
